input,textarea{
    padding: 5px;
    width: 100%;
}
label{
    color: darkblue;
    font-size: 20px;
    font-weight: 600;
    margin: 12px 0px;;
}
.img-con{
    height: auto;
    padding: 10px;
    border: 2px solid black;
}